body{
      font-family: "Karla", sans-serif;

}
.ul-Details{
    list-style: none;
   & li{
        padding-top: 15px;
        color:#a8a8a8
    }
}
.ul-List{
    list-style: none;
     display: flex;
    flex-wrap: wrap;
    gap: 25px;
     color: blueviolet;
     margin-top: 50px;
  
}
   .movieTitle{
    display: flex;
    flex-direction: column;
    color:#f5c518 ;
    font-size: 20px;
    &:hover{ scale: 1.1};
       
 
    
}
.movieTitle p{
    width: 250px;
}

img{
    width: 300px;
    height: 300px;
    border-radius: 20px;
}

.container{
    width: 80%;
    margin: 0 auto;    
}
.search{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
    
}

input{
    padding: 20px 40px;
    background-color: 2b2b2b;
    border-radius: 30px;
    border:none;
    font-size: 20px;
 }
.searchBtn{
    padding: 20px 40px;
border-radius: 30px;
border: none;
background-color: blueviolet;
color: darkblue;
cursor: pointer;
font-size: 20px;

 &:hover{
        scale: 1.1;
    }
}
.error{
     display: flex;
    justify-content: center;
    align-items: center;
    color: red;
}
.posterImg{
    max-width: 350px;
}
.details-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Home{
    font-size: 20px;
    padding: 20px;
    margin-left: 40px;
    border-radius: 20px;
    border: none;
    background-color: #e50914;;
    color: aquamarine;
     margin-top: 20px;
         display: inline-block;

       text-decoration: none;
       cursor: pointer;
       margin-bottom: 40px;
       &:hover{
        scale: 1.2;
       }
    
}
.load{
   display: flex;
    justify-content: center;
    align-items: center;
}
.loadMore{
    padding: 20px 30px;
    background-color: greenyellow;
    border-radius: 20px;
    border: none;
    color:goldenrod;
    cursor: pointer;
    margin-bottom: 40px;

}
 
  
body{
    background-color: #141414;
}
.loader {
  width: 50px;
  height: 50px;
  border: 5px solid #ccc;
  border-top: 5px solid black;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: 50px auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.hidden {
  display: none;
}

.genres{
 
    & ul{ 
          display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
        
        list-style: none;
       
          
    
      & .genre-btn {
         color: aqua;
        font-size: 30px;
        border: none;
        background-color: green;
        padding: 20px 30px;
        border-radius: 25px;
                cursor: pointer;
    transition: all 0.3s ease;
            &:hover{
                scale: 0.8;
            }
      } 

}
}

.indexHome{
    margin-top: 40px;
    margin-right: 50px;
}
.trailer {
  width: 60%;
}
#fromYear,#toYear{
    padding: 20px;
    border-radius: 25px;
    border: none;
    background-color: #ff00aa ;
    color:white;
    margin-left:30px;
        font-size: 20px;

}
 
#type{
    margin-top: 40px;
       padding: 20px;
    border-radius: 25px;
    border: none;
    background-color: #ff00aa ;
    color:white;
    margin-left:30px;
    font-size: 20px;
}

.from-to{
    color: aliceblue;
    font-size: 18px;
}


@media (max-width:1534px){
.trailer{
    width: 50%;
}
}



@media (max-width: 1130px) {
    .genres{
        & ul{
            display: flex;
            flex-wrap: wrap;
        }
    }
}

@media (max-width:917px){
    .details-wrapper{
        flex-direction: column;
    }
    .trailer{
    width: 70%;
}
}

@media (max-width:539px){
    .search{
        flex-direction: column;
    }
}